@namespace NewwaysAdmin.WebAdmin.Components.Features.Sales.Daily
@using NewwaysAdmin.OrderProcessor

<div class="sku-summary">
    <h5>SKU SUMMARY:</h5>
    <div class="sku-table">
        <table class="table table-sm">
            <thead>
                <tr>
                    @foreach (var skuEntry in ScanResult.SkuCounts)
                    {
                        <th>@skuEntry.Key</th>
                    }
                    <th>Total Packs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var skuEntry in ScanResult.SkuCounts)
                    {
                        <td>@skuEntry.Value packs</td>
                    }
                    <td>@ScanResult.SkuCounts.Values.Sum() packs</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter] public ScanResult ScanResult { get; set; } = null!;
}