/* Login page layout */
.login-container {
    width: 100%;
    max-width: 600px; /* Increased from 300px to 600px */
    min-width: 250px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.login-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

    .login-card .card {
        width: 100%;
    }

/* Card styles */
.card-header-thiel {
    background-color: var(--theme-primary);
    color: white;
}

.card-body {
    padding: 2rem;
}

/* Responsive adjustments */
@media (max-width: 700px) {
    .login-container {
        max-width: 90%;
        min-width: auto;
        padding: 0.5rem;
    }

    .card-body {
        padding: 1rem;
    }
}
