@using Microsoft.AspNetCore.Authorization
@using NewwaysAdmin.WebAdmin.Models.Auth

<AuthorizeView Policy="@Policy">
    <Authorized>
        @ChildContent
    </Authorized>
    <NotAuthorized>
        @if (ShowAccessDenied)
        {
            <div class="alert alert-warning">
                <h4>Access Denied</h4>
                <p>You don't have permission to access this @(ModuleId ?? "resource").</p>
            </div>
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] public string? ModuleId { get; set; }
    [Parameter] public AccessLevel MinimumLevel { get; set; } = AccessLevel.Read;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool ShowAccessDenied { get; set; } = true;

    private string Policy => !string.IsNullOrEmpty(ModuleId) ? $"Module_{ModuleId}_{MinimumLevel}" : "";
}